

body {
    background-image: url('../wallpaper/wallpaper1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
   
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 400;
    color: #000000;   
}

h1{   
    margin-top: 30px;
    font-weight: 700;
    color: #D2D2D2;
    font: size 50px;
    
}

h2{   
    text-shadow: 0 8px 4px rgba(0, 0, 0, 0.75);
    color: #d0d0d0;  
    font-family: Montserrat;
    font-size: 20px;  
    font-weight: 700;
   
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: clip;
}


[class*="__container"] {
    display: flex;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}

[class*="__content"]{
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

[class*="__selector"]{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
} 

.page__content{
   
    flex: 1 1 auto;
    overflow: auto;
}

.header{

    background: rgb(5,0,255);
    background: linear-gradient(0deg, #1D1D1D 3.16%, #1D1D1D 3.17%, #28007C 16.87%, #3600AA 22.74%, #28007C 31.55%, #181818 51.62%, #830000 70.23%, #C50000 80.02%, #830000 85.89%, #1D1D1D 97.15%);
    display: flex;
    height: 100px;
    padding-top: 5px f;
    padding-bottom: 5px;
}



.main-content{
    display: flex;
}


.catalog-selector__selector{
    
    border-radius: 20px;
    width: 900px;
    height: 500px;
    display: flex;
    background: rgb(252,252,252);
    background: linear-gradient(90deg, #51000071 0%, #ffffff09 50%, #11007171 100%);
}



.button-cpc__content{
    
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background: linear-gradient(180deg, #a32828 0%, #7D0000 100%);
    flex-direction: column;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

.button-cpc__content:hover{
    background: linear-gradient(180deg, #611717 0%, #520000 100%);
}


.button-pc__content{
    
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background: linear-gradient(180deg, #3a2dd0 0%, #00186B 100%); 
    flex-direction: column;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    cursor: pointer;
    
}

.button-pc__content:hover{
    background: linear-gradient(180deg, #191363 0%, #001150 100%); 
}





