

body {
    background-image: url('../wallpaper/wallpaper3.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 400;
    color: #000000;
    
}

a{
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
}

.category-menu ul{
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}



button{
    padding-block: 0px;
    padding-inline: 0px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: clip;
}

[class*="__container"] {
    display: flex;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}


[class*="__w-centr"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{

    background: linear-gradient(-4deg, #1D1D1D 3.16%, #1D1D1D 3.17%, #970000 16.87%, #C50000 22.74%, #970000 31.55%, #181818 51.62%, #970000 70.23%, #C50000 80.02%, #970000 85.89%, #1D1D1D 97.15%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

.header2{
    background: linear-gradient(0deg, #1D1D1D 3.16%, #920000 6.87%, #da0000 12.74%, #920000 21.55%, #181818 51.62%, #920000 80.23%, #da0000 90.02%, #970000 95.89%, #1D1D1D 97.15%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    
}

.header2__container{
    height: 100px; 
}


.header3{
    margin-top: 20px;     
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    
    transition: opacity 0.5s ease;
    
}

.header3__container{
    display: flex;
    align-items: center;
    height: auto; 
}




.page{
    
    flex: 1 1 auto;
    overflow: auto;
}

.page::-webkit-scrollbar{
    width: 0;
}

.page__container{
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 70px ;
}



/* ---------- To main block---------- */

.to-main-block__w-centr{
    width: 425px;
    height: auto;
}

.logo{
    
    padding-right: 30px;
    padding-left: 30px;
    width: auto ;
    height: auto ;
}

.title-to-main{
    padding: 0px 5px 0px 5px;
    font-weight: 400;
    color: #E5E5E5;
    font-size: 38px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: auto;
}

/* ---------- To main block---------- */



.search-textbox{
    background-color: #d9d9d9;
    width: 410px;
    height: 40px;
}

.search-button__w-centr{
    background-color: #9B9B9B;
    width: 70px;
    height: 40px;
}

.btn-search__w-centr{
    background: #00000000; 
    border: none;
    color: inherit;
    cursor: pointer; 
    height: auto ;
    width: auto ;
}    

.space{
    width: 45px;
    height: auto;
}

.fyp-block__w-centr{ 
    height: auto;
    width: 260px;
}

.fyp{
    display: flex;
    justify-content: flex-end;
    padding: 30px 0px 30px 0px;
    width: 200px;
    height: auto;
}

.yp__logo{
    position: relative;
}

.yp__logo span{
    padding: 2%;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #9B9B9B;
    background-color: #000000;
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 40%;
    top: 80%;
    right: -10px;
}

[class*="__fyp-block"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

[class*="__logo"] {
    width: 64px;
    height: 64px;   
}

.favorites__fyp-block{  
    width: 75px;
    height: auto;   
}

.space_s{
    width: 550px;
    height: auto;
}

.category-block{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.category-logo{
    width: 64px;
    height: auto;
}

.category-lbl{ 
    padding-left: 10px;
    padding-right: 10px;
    color: #c6c6c6;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

[class*="__button"]{
    background-color: #00000000;
    border: none;  
    outline: none;
}

.category-arrow__button{
    width: 64px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.category-arrow__button.rotate{
    transform: rotateX(180deg);
}

.hiden-categories-list{
    z-index: 2;
    width: auto;
    height: auto;
    background-color: #00000079;
}

.hiden-categories-list2{
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 100px;

}

.category-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #0000006e;
    border-radius: 10px;
    width: 806px ;
    height: 70px;
}


.сategory-menu-list-group{
    margin-top: 10px;
    display: flex;
    width: auto;
    height: 50%;
    
}

.сategory-menu-list-group2{
    display: flex;
    width: auto;
    height: 50%;
    
}


[class*="__current-item"] {
    color: #d2d2d2;
    text-decoration-line: underline;
    width: 188px ;
    height: 20px;
    text-align: center;
}


.category-item{
    justify-content: center;
    width: 188px ;
    height: 20px;
    color: #d2d2d2;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    transition: color 0.5s ease;
}

.category-item:hover{
    color: #fafafa;
}

.category-item__current-item{
    transition: color 0.5s ease;
}

.category-item__current-item:hover{
    color: #fafafa;
}

.bc-sort-page-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 72px;
}

.breadcrumbles-block{
    display: block;
}

.breadcrumbles{
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #202020;

}

.sorting-block{
    display: block;
}

.sorting{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.bc-ref{
    transition: color 0.3s ease;
}

.bc-ref:hover{
    color: #fafafa;
}

.bc-space{
    padding-left: 5px ;
    padding-right: 5px;
}


.select-box{
    border: none;
    width: 228px;
    height: 30px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    border-radius: 5px;
    appearance: none;
    color: #1f1f1f;
    background-color: rgba(255, 4, 4, 0.003)
    
}

.select-container {
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #b0000052 1%,  #7a000000 5%,  #8e00007b 50%,#24242400 95%, #b0000052 99%);
    width: 272px;
    height: 36px;
    display: flex;
}

.icon-sortlist-container{
    
    width: 24px;
    height:24px ;
}

.сomponents-container{
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    height: auto;
    width: auto;
}

.filter{
    text-align: center;
    background: linear-gradient(90deg, #2424247f 1%, #a800007f 10%,  #da00007b 52%, #a8000071 90%, #2424247f 99%);
    border-radius: 5px;
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    
}

.filter .filter-title{   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    font-size: 28px;
    color: #E1E1E1;
    font-weight: 400;
}

.price-range-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 250px;
    height: auto;
    background-color: #ff000000;
}

.filter-separator{
    width: 250px;
    height: 1px;
    padding: 0px 0px 0px 0px;
    background-color: #d9d9d9;
}

.pr-title{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    width: 250px;
    height: auto;
    color:#E1E1E1;
    font-size: 22px;
}

.price-range-textbxs{
    padding-top: 22px;
    margin-top: 22px;
    width: 250px;
    height: 24px;
    display: flex;
    justify-content: center;
}

.price-range-textbxs .pr-title-range{
    
    width: auto;
    height: auto;
    margin-right: 7px;
    color: #e1e1e1;
    font-size: 16px;
}

.price-range-textbxs .pr-separator{
    margin-right: 6px;
    margin-left: 6px;
    color: #e1e1e1;
    height: 100%;
    width: 8px;
}

.price-range-textbxs .range-box{
    text-align: center;
    width: 75px;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #636363;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.aply-button-block{
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.aply-button{
    border: none;
    padding: 0;
    cursor: pointer;
    width: 92%;
    height: 30px;
    border-radius: 3px;
    background-color: #d9D9D9;
    color: #4E4E4E;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.aply-button:hover{
    background-color: #470000;
    color: #d9D9D9;
}

.checkboxs-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    background-color: rgba(255, 0, 0, 0);
}

.chkbx-title{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    width: 250px;
    text-align: start;
    height: auto;
    color:#E1E1E1;
    font-size: 22px;
}

.check-category{
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    width: 212px;
    height: auto;
}

input[type=checkbox]{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fafafa00;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid#D9D9D9;
    outline: none;
}

input[type=checkbox]:checked{
    background-color: #D9D9D9;
}

input[type=checkbox]::after{
    
    color: rgb(155, 0, 0);
    border-radius: 3px;
    border: 1px solid#D9D9D9;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 17px;
    display: none;
}

input[type=checkbox]:checked:after{
    display: block;
}


.check-title-item{
    color: #D6D6D6;
    font-size: 16px;
}

.check-title{
    width: auto;
    height: auto;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
    
}

.product-card{
    margin: 0px 7.5px 0px 7.5px;
    display: flex;
    flex-direction: column;
}

.image-block {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;  
} 

.image-block img{
    width: 200px;
    height: 250px;
}

.interactive-product-block{
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.product-name{
    padding-top: 10px;
    margin-top: 8px;
    display: flex;
    text-align: center;
    color: #565656;
    font-size: 20px;
}

.interactive-product-block ul{
    list-style-image: url("/icons/list-mark.svg");
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 40px 18px 40px;
    width: 170px;
    height: auto; 
}

.interactive-product-block li{
    text-indent: 15px;
    color: #565656;
    font-size: 14px;
    padding: 8px 0px 0px 0px;
}

.interactive-product-block button{
    border: 0;
    background-color: #D9D9D9;
    cursor: pointer;
    color: #424242;
    font-size: 18px;
    border-radius: 3px;
    text-align: center;
    width: 200px;
    height: 25px;
    margin: 0px 0px 10px 0px;
    transition: background-color 0.3s ease;
}

.interactive-product-block button:hover{
    color: #D9D9D9;
    background-color: #470000;
}

.product-price{
    justify-content: center;
    display: flex;
    width: auto;
    height: auto;
    font-weight: 700;
    padding-bottom: 14px;
}

.int-price{
    width: auto;
    height: auto;
    color: #565656;
    font-size: 18px;
}

.uah{
    margin-left: 7px;
    width: auto;
    height: auto;
    font-weight: 700;
    color: #565656;
    font-size: 18px;
}

/*Your-pc-elements-style*/

.yp-block{
    width: auto;
    height: auto;
    padding: 20px 40px 20px 40px;
    background: linear-gradient(90deg, #2424247f 1%, #a800007f 10%,  #da00007b 50%, #a8000071 90%, #2424247f 99%);
    border-radius: 10px;
}

.yp-container{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 20px 5px 20px 5px;
    border-radius: 10px;
    background: linear-gradient(0deg, #2424247f 1%, #a800007f 10%,  #da00007b 50%, #a8000071 90%, #2424247f 99%);
}

.pc-card{
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px 10px 0px 10px;
    width: auto;
    height: auto;
    background: linear-gradient(90deg, rgba(211, 211, 211, 0) 1%, #a800007f 5%,  #da00007b 50%, #a8000071 95%, rgba(211, 211, 211, 0) 99%);
}

.pc-card img{
    margin: 37px 0px 37px 0px;   
    width: 200px;
    height: 250px;
}

.pc-card span{
    display: block;
    text-align: center;
    width: 850px;
    height: auto;
    color: #cecece;
    font-size: 32px;
}


.pc-component{
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 120px;
    background: linear-gradient(90deg, rgba(211, 211, 211, 0) 1%, #a800007f 5%,  #9e00007b 50%, #a8000071 95%, rgba(211, 211, 211, 0) 99%);
}


.pc-component-img{
    width: 64px;
    height: 64px;
    padding: 0px 38px 0px 38px;
}

.pc-component span{
    padding: 5px 39px 5px 0px;
    color: #cecece;
    font-size: 22px;
    text-align: center;
    width: auto;
    height: auto;
}

.shop-contaienr{
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background: linear-gradient(0deg, rgba(56, 56, 56, 0.442) 1%, #2d2d2d7f 2%,  #a3a3a37b 50%, #2d2d2d7f 98%, rgba(56, 56, 56, 0.442) 100%);
}

.shop-contaienr span{
    font-weight: 700;
    color: #cacaca;
    font-size: 14px;
    padding: 5px 22px 5px 2px;
}

.shop-contaienr .shop{
    border-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 4px 0px 4px 0px;
    margin-right: 20px;
}

.shop .img{
    width: 80px;
    height: 30px;
}

.pc-total-price{
    margin: 46px 0px 0px 40px;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0px 0px 0px 3px;
}

.pc-total-price .total-title{
    width: auto;
    height: auto;
    margin: 0px 32px 0px 0px;
    color:  #cecece;
    font-size: 24px;
}

.pc-total-price img{
    width: 80px;
    height: 30px;
    margin-right: 10px;
}

.pc-total-price span{
    font-size: 30px;
    color: #cecece;
    width: auto;
    height: auto;
    margin-right: 5px;
}

.button-back{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.to-catalog-btn{
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(56, 56, 56, 0.463) 1%, #2d2d2d7c 5%,  #d5d5d5 50%, #dadada 95%, rgb(209, 209, 209) 100%);
    width: 500px;
    height: 100px;
    text-align: center;
    font-weight: 700;
    color: #1e1e1e;
    font-size: 28px;
    transition: background 0.5s ease;
}

.to-catalog-btn:hover{
    background: linear-gradient(0deg, rgba(169, 169, 169, 0.463) 1%, rgba(154, 154, 154, 0.486) 5%,  #2f2f2f 50%, #232323 95%, rgb(31, 31, 31) 100%);
    color: #D9D9D9;
}


/*Your-pc-elements-style*/
