

body {
    background-image: url('../wallpaper/wallpaper2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 400;
    color: #000000;
}




h1{
    font-size: 36px;
    background-image: linear-gradient(to right, #DB0808, #0030D8); 
    -webkit-background-clip: text; 
    color: transparent;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: clip;
}

.header{

    background: linear-gradient(4deg, #1D1D1D 3.16%, #1D1D1D 3.17%, #28007C 16.87%, #3600AA 22.74%, #28007C 31.55%, #181818 51.62%, #28007C 70.23%, #3600AA 80.02%, #28007C 85.89%, #1D1D1D 97.15%);
    display: flex;
    min-height: 90px;
    padding-top: 5px ;
    padding-bottom: 5px;
}

.header__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page___centr{
   
    flex: 1 1 auto;
    overflow: auto;
}


[class*="__container"] {
    display: flex;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}

[class*="__centr"]{
    display: flex;
    justify-content: center;
    align-items: center;   
}

[class*="__content"]{
    display: flex;
    justify-content: center;
}

.content__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 720px;
    height: 400px;
    border-radius: 5px;
    background: linear-gradient(180deg, #b6b6b62b 0%, #66666637 100%);
}

.element__content{

    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}


.logo{ 
    
    width: 100px;
}

.space{

    width: 100px;
}

[class*="__button"]{
    background-color: #00000000;
    border: none;  
    outline: none;
}

.button-logo__button{

   
    padding: 10px 10px 10px 10px;
    
}

.title{

       
    
    color: #cacaca;
    font-size: 50px;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    
    
}

.title2{

    color: rgb(210, 210, 210);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    
}


.back-button__content{
    width: 500px;
    height: 100px;
    background: linear-gradient(180deg, #f3f2f278 0%, #c2c2c27b 100%);
    border-radius: 10px;
    transition: background-color 1s;
    cursor: pointer;
}

.back-button__content:hover{
    background: linear-gradient(180deg,#292929 0%,  #1b1b1b 50%, #292929 100%);
}




.button__button{
    cursor: pointer;
}


.space-content{
    height: 100px;
    width: auto;
}
